<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit patient</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/patients/{insuranceNumber}(insuranceNumber=${patient.getInsuranceNumber()})}"
      th:object="${patient}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </br>
    <label for="diagnosis">Enter diagnosis: </label>
    <input type="text" th:field="*{diagnosis}" id="diagnosis"/>
    <div style="color:red" th:if="${#fields.hasErrors('diagnosis')}" th:errors="*{diagnosis}"></div>
    </br>
    <label for="insuranceNumber">Enter insurance number: </label>
    <input type="text" th:field="*{insuranceNumber}" id="insuranceNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('insuranceNumber')}" th:errors="*{insuranceNumber}"></div>
    </br>
    <label for="doctorsName">Enter doctor's name: </label>
    <input type="text" th:field="*{doctorsName}" id="doctorsName"/>
    <div style="color:red" th:if="${#fields.hasErrors('doctorsName')}" th:errors="*{doctorsName}"></div>
    </br>
    <label for="status">In hospital</label>
    <input type="checkbox" id="status" name="status" th:field="*{status}">
    </br>
    <input type="submit" value="Edit"/>
</form>

</body>
</html>